@import "../../styles/variables";

.tracker-overlay {
  background: rgba(black, 0.4);
  -webkit-app-region: drag;
  user-select: none;
  padding: 8px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 25px rgba(black, 0.25));
  }
  .arrow {
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    &.no-direction {
      opacity: 0;
    }
    &.aheadLeft {
      transform: rotate(-45deg);
    }
    &.ahead {
      transform: rotate(0deg);
    }
    &.aheadRight {
      transform: rotate(45deg);
    }
    &.right {
      transform: rotate(90deg);
    }
    &.behindRight {
      transform: rotate(135deg);
    }
    &.behind {
      transform: rotate(180deg);
    }
    &.behindLeft {
      transform: rotate(225deg);
    }
    &.left {
      transform: rotate(270deg);
    }
  }
}

.no-drag {
  .tracker-overlay {
    background: rgba(black, 0);
  }
}
