@import "../../styles/variables";

.dkp-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dkp-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.class-group {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid rgba(white, 0.05);
  border-radius: 8px;
  background: darken($color-background, 2%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.character {
  display: flex;
  align-items: center;
}

.dkp-amt {
  width: 40px;
  text-align: right;
  border-right: 1px solid rgba(white, 0.1);
  padding-right: 16px;
  margin-right: 16px;
}

.active-bids {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  &-list {
    gap: 8px;
    width: 100%;
    display: flex;
    overflow: auto;
  }
}

.bid {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border: 1px solid rgba(white, 0.1);
  border-radius: 8px;
  background: darken($color-background, 2%);
  .item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 216px;
  }
}

.bidders {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 90px;
  overflow: auto;
  padding-right: 8px;
}

.bidder {
  display: flex;
  font-size: 0.8em;
  &-amt {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    width: 80px;
    text-align: center;
    font-weight: 700;
    color: $color-primary;
    &.error {
      color: $color-error;
    }
    span {
      color: rgba(white, 1);
    }
  }
  &-name {
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-pay-amt {
    color: $color-primary;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    span {
      color: rgba(white, 0.5);
      font-size: 0.8em;
    }
  }
}

.bid-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bid-close {
  cursor: pointer;
}

.rolls {
  display: flex;
  gap: 16px;
  .roll-group {
    padding: 8px;
    border: 1px solid rgba(white, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background: darken($color-background, 2%);
  }
}

.closed-bids {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.closed-bid-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.closed-bid {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid rgba(white, 0.1);
  border-radius: 8px;
  background: darken($color-background, 2%);
}

.bid-win-amount {
  color: rgb(110, 250, 110);
  font-size: 0.8em;
}

.closed-bidder {
  display: flex;
}

.closed-bid .bidder-name {
  min-width: 120px;
  display: flex;
}
