@import "../../styles/variables";

.titlebar {
  -webkit-app-region: drag;
  display: Flex;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: $color-background-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  font-weight: 700;
  color: $color-primary;
  .version {
    margin-left: 8px;
    font-size: 0.7em;
    color: rgb(83, 83, 83);
  }
}

.watching {
  font-size: 0.8em;
  display: flex;
  color: $color-primary;
  align-items: center;
}

.window-controls {
  display: Flex;
  align-items: center;
  justify-content: center;
}

.window-control {
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-app-region: no-drag;
  &:hover {
    background: rgba(white, 0.1);
  }
  &:last-child:hover {
    background: rgb(255, 68, 35);
  }
}

.label {
  color: rgb(83, 83, 83);
  font-weight: 700;
  margin-right: 8px;
  margin-bottom: 0px;
}

.click-here {
  position: absolute;
  font-size: 3em;
  color: $color-primary;
  filter: drop-shadow(0 0 5px $color-primary);
  animation: pointUp 3s ease-in-out infinite;
}

@keyframes pointUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  20% {
    opacity: 0;
    transform: translateY(60px);
  }
  90% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
