@import "../../styles/variables";

.sound-item {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  .play {
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
  .sound-name {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 8px;
    &:hover {
      background-color: $color-highlight;
    }
  }
}
