@import "../../styles/variables";

.triggers-wrapper .new-trigger,
.triggers-wrapper section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.triggers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}

.sounds-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  .checkbox {
    margin: 0;
  }
  .play {
    cursor: pointer;
  }
}

.sound-list {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  background: lighten($color-background-light, 8%);
  max-height: 200px;
  overflow: auto;
  min-width: 400px;
}

.trigger-actions {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  user-select: none;
}

.new-trigger {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.new-trigger.show {
  max-height: 1000px;
}

.triggers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.trigger {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  &:hover {
    background: rgba(white, 0.1);
  }
}

.input-row {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  &.timer-fields {
    .input {
      max-width: 50px;
    }
  }
}

.trigger-overlay {
  background: rgba(black, 0.4);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  overflow: auto;
  -webkit-app-region: drag;
  .timers {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .timer {
      .timer-progress {
        background-color: #eee;
        border-radius: 50px;
        width: 100%;
        height: 10px;

        .progress-bar {
          background-color: #4caf50;
          height: 100%;
          border-radius: 4px;
          transition: width 0.3s ease;
        }
      }
      .timer-header {
        display: flex;
        justify-content: space-between;
        .timer-time {
          font-family: "DM Mono", monospace;
        }
      }
    }
  }
}
