@import "./styles/variables";

.content {
  margin: 24px;
  margin-top: 0;
  padding: 16px;
  background: #010103;
  background: radial-gradient(at left top, #010103, #01071b);
  border: 1px solid rgba(white, 0.08);
  border-radius: 16px;
  height: 0%;
  flex: 1;
  overflow: auto;
  box-shadow: 0 7px 15px 7px rgba(0, 0, 0, 0.4);
}

.bid-overlay,
.current-bids-overlay {
  .active-bids {
    width: 100%;
    background: rgba(black, 0.4);
    min-height: 150px;
    border-radius: 8px;
    padding: 8px;
    -webkit-app-region: drag;
    overflow-x: hidden;
  }
  .bid {
    -webkit-app-region: no-drag;
  }
  .actions {
    display: none;
  }
}

.no-file {
  margin-top: 40px;
}

.warning {
  color: tomato;
  font-weight: 800;
}

.actions {
  display: flex;
}

.actions .checkbox {
  min-width: 120px;
}

.pagination {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  span {
    padding: 0 32px;
    display: flex;
    gap: 8px;
  }
  button {
    background: transparent;
    border: 1px solid $color-primary;
    color: white;
    padding: 4px;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    user-select: none;
    &:disabled {
      opacity: 0.45;
      border: 1px solid white;
      &:hover {
        background: transparent;
        cursor: default;
      }
    }
    &:hover {
      background: $color-primary;
      color: white;
      cursor: pointer;
    }
  }
}

.pointer {
  cursor: pointer;
}

input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(white, 0.2);
  padding: 12px 0;
  font-size: 1em;
  &:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px darken($color-highlight, 7%) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
    border-bottom: 1px solid $color-primary;
    & + span {
      transform: translateY(-8px) translateX(0);
      color: rgba(white, 0.3);
      font-size: 0.7em;
    }
  }
}
