@import "./styles/variables";

.content {
  margin: 8px;
  margin-top: 0;
  padding: 8px;
  background-color: $color-background-light;
  border: 1px solid rgba(white, 0.1);
  border-radius: 8px;
  height: 0%;
  flex: 1;
  overflow: auto;
}

.bid-overlay,
.current-bids-overlay {
  .active-bids {
    width: 100%;
    background: rgba(black, 0.4);
    min-height: 150px;
    border-radius: 8px;
    padding: 8px;
    -webkit-app-region: drag;
    overflow-x: hidden;
  }
  .bid {
    -webkit-app-region: no-drag;
  }
  .actions {
    display: none;
  }
}

.no-file {
  margin-top: 40px;
}

.warning {
  color: tomato;
  font-weight: 800;
}

.actions {
  display: flex;
}

.actions .checkbox {
  min-width: 120px;
}

.pagination {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  span {
    padding: 0 32px;
    display: flex;
    gap: 8px;
  }
  button {
    background: transparent;
    border: 1px solid $color-primary;
    color: white;
    padding: 4px;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    user-select: none;
    &:disabled {
      opacity: 0.45;
      border: 1px solid white;
      &:hover {
        background: transparent;
        cursor: default;
      }
    }
    &:hover {
      background: $color-primary;
      color: white;
      cursor: pointer;
    }
  }
}
