@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "./styles/variables";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#root,
body {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  user-select: none;
}

.panel {
  background: darken($color-highlight, 7%);
  border-radius: 8px;
  padding: 12px;
  transition: all 0.15s ease-in-out;
  &.inactive {
    padding: 0;
    background: transparent;
  }
}

* {
  scrollbar-width: auto;
  scrollbar-color: #bdbdbd #ffffff;
}

*::-webkit-scrollbar {
  width: 6px;
  max-height: 6px;
  -webkit-app-region: no-drag;
}

*::-webkit-scrollbar-track {
  background: rgba(white, 0.05);
  -webkit-app-region: no-drag;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($color-primary, 0.3);
  border-radius: 8px;
  -webkit-app-region: no-drag;
}

hr {
  width: 100%;
  opacity: 0.1;
}

.pill {
  padding: 4px 8px;
  border-radius: 100px;
  background: rgba($color-primary, 0.1);
  border: 1px solid rgba($color-primary, 0.2);
  color: $color-primary;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  gap: 8px;
  &.error {
    background: rgba($color-error, 0.1);
    border: 1px solid rgba($color-error, 0.2);
    color: $color-error;
    &:hover {
      background: rgba($color-error, 0.2);
    }
  }
  svg {
    font-size: 1.2em;
  }
  &.button {
    cursor: pointer;
  }
  &:hover {
    background: rgba($color-primary, 0.2);
  }
}

.text-primary {
  color: $color-primary;
}

.bold {
  font-weight: 700;
}

.null-message {
  font-weight: 700;
  color: rgba(white, 0.5);
}

.no-drag {
  -webkit-app-region: no-drag !important;
}

body.no-drag {
  .active-bids {
    background: transparent;
  }
}
